{% extends 'layout.html' %}
{% block content %}
{% load static %}
<header class="row  bg-black">
    <div class="col-md-4">
        <img src="{% static 'perfil.jpg' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1>Jandry Sebastian Guaranda Alarcon</h1>
        <h3>Estudiante de TI</h3>
        <p>Estudiante de TIC con interés en programación, bases de datos y ciberseguridad. Me gusta 
            aprender de forma práctica, entendiendo la lógica de lo que hago y aplicándolo en proyectos 
            académicos y ejercicios reales.</p>
        <a href="{% static 'hojadevida.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">Descarga Hoja de vida</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h1>Mis proyectos</h1>
    <p>Proyectos académicos realizados durante mi formación, enfocados en la práctica de programación y desarrollo web.</p>
    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card-project bg-black card">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                

                {% if project.url %}
                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm">{{project.url}}</a>
                {% endif %}
            </div>
        </div>
    </div> 
    {% endfor %}
    {% endblock %}
</div>
